@import url(./reset.css);

body {
  background-color: aliceblue;
}

.header {
  background-color: bisque;
}

.coin_input {
  background-color: blueviolet;
}

.coin_list {
  width: 200px;
  height: 500px;
  overflow-y: scroll;
  background-color: aqua;
}
