@import url(./reset.css);

body {
  background-color: yellow;
}

.header {
  background-color: bisque;
}

.coin_input {
  background-color: blueviolet;
}

.coin_converter {
  background-color: burlywood;
}
