@import url(./reset.css);

body {
  background-color: yellow;
}

input {
  border: 3px solid black;
  outline: none;
  padding: 3px;
}

.header {
  background-color: bisque;
}

.coin_input {
  background-color: blueviolet;
}

.coin_converter {
  background-color: burlywood;
}
